{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Healthy Meal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"/>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section style="background-color:#66BB6A" id="header">
					<div class="container">
						<h1 id="logo"><a href="{% url 'index' %}">Healthy Meal</a></h1>

						<nav id="nav">
							<ul class="homebar">
								<li><a  href="{% url 'index' %}"><span> Home </span></a></li>
				
								{% if user.is_authenticated %}
							<li><a  href="{% url 'index' %}"><span> Hello, {{user.first_name}}</span></a></li>
							<li>	<a  href="{% url 'logout' %}"><span>Logout</span></a> </li>
						

								{% else %}
								<li> <a  href="{% url 'signup' %}"><span> Sign Up</span></a></li>
							<li>	<a  href="{% url 'login' %}"><span>Log In</span></a> </li>
								{% endif %}
							</ul>
						</nav>
					</div>
				</section>

	

			<!-- Banner -->
				<section id="banner" style="background-image: url('{{baseUrl}}/Variety-fruits-vegetables.jpg');">
					<div id="container_diff">
						<p> A better meal <strong > for a better life. </strong> </p> <br>
						<p> What's a better deal? </p>
					</div>
				</section>

			<!-- Main -->
				<section id="main">
						<div class="row"> 
							<div class="content" >
								<h3> Tracks nutrients, calories and in foods</h3>
								<img src="{{baseUrl}}/nutrients.jpg">	
							</div>
							<div class="content" >
								<h3> Personalized and tailored to your diet and exercise</h3>
								<img src="{{baseUrl}}/treadmill.jpg">	
	
							</div>
							<div class="content" >
								<h3> Tracks personal growth and pushes for the best version</h3>
								<img src="{{baseUrl}}/charts.jpg">	
	
							</div>
					</div>
						</div>
				</section>

				<section id="start">
					
				 <h3> Start by signing up and heading to calculate your next meal. </h3>

				</section>

			<!-- Footer -->
				<section id="footer">
						<header>
							<h2>Questions or comments? <strong>Get in touch...</strong></h2>
						</header>
				<div id="copyright" class="container">
    					<p>&copy; 2026 Healthy Meal. All rights reserved.</p>
    					<p>Design originally based on <a href="http://html5up.net">HTML5 UP</a></p>
				</div>
				</section>


		
	</body>
</html>