<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"/>

  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  <title> Browser </title>

</head>
<body>
  <div class="card">
    <h1 id="login">Log In</h1>
 
    {% for message in messages%}
     <p id="error">  {{message}}</p>
    {% endfor %}
    
    <form method="POST" action="{% url 'login' %}"> 
        {% csrf_token %}

      <div class="group">
	    <label> Username </label> <br>
    <input type="text" name="username" class="bar"/> <br>
        </div>
      
        <div class="group">
    <label> Password </label> <br>
    	<input name="password1" type="password" />    
       </div>
           
      <button type="submit"> Create Account</button>
</form>
</div>
      

  
</body>

</html>